.App {
  text-align: center;
  padding-right: 0;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Patrick Hand SC', cursive;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-top: 0%;
  /*changes*/
}

.Heading{
  font-family: 'Patrick Hand SC', cursive;
}
.navbar{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  justify-content: space-between;
}
.navbar,.footer{
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: white;
}
.buttons{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-button{
  font-family: 'Patrick Hand SC', cursive;
  font-weight: 500;
  outline: 0;
  margin-top: auto;
  margin-bottom: auto;
    grid-gap: 8px;
    align-items: center;
    background-color: #E0AED0;
    opacity: 85%;
    color: #000;
    border-radius: 2px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 20px;
    gap: 5px;
    justify-content: center;
    line-height: 1.5;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    padding: 7px 10px;
    text-decoration:solid;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;

}
.main-button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.main-button:focus-visible {
  outline-offset: 1px;
}

.footer {
  position: relative;
  margin-top: 10px;
  height: 30px;
  padding: 5px 10px;
  text-align: center;
  justify-content: center;
  bottom: 0;
}

.footer p {
  margin-top: 0;
}

.footer a {
  text-decoration: underline;
  color: white;
}